
<div class="row p-0 p-sm-0">
  <div class="col-11 col-sm-11 shadow bg-white   make-round " >
      <div class="row d-flex align-items-center " >
        <div class="col-1
        d-flex align-items-center justify-content-center
           px-0">
          <img
          src="{{info.image?info.image:'https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg'}}"
          alt="img"
          height="70%"
          width="70%"
          class="mx-0 px-0 make-round-img"
          >
        </div>
      <div class="col-11 pt-4 ">
        <div class="row">
          <div class="col-5 text-truncate">
            <b>{{info.title}}</b>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-truncate">
            {{info.summary}}
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-truncate">
            <p class="text-muted">{{info.published}}</p>
          </div>
        </div>

        </div>
    </div>
  </div>
  <div class="col-1 d-flex align-items-center">
    <b><p class="text-danger text-center " role="button" (click)="onClose()">&nbsp;&times;&nbsp;</p></b>
  </div>
</div>





