<div class="container-fluid pt-lg-4 pr-lg-0 p-4">
  <div class="row">
    <div class="col-12">
      <div class="make-round bg-white m-lg-3 p-lg-2  shadow ">
        <div class="row d-flex align-items-center">
          <div class="col-4  ">
            <img src="https://i.pinimg.com/736x/0a/53/c3/0a53c3bbe2f56a1ddac34ea04a26be98.jpg" class=" img-fluid"
              alt="Profile Pic" >
          </div>
          <div class="col-8">
                <h4 class="text-truncate">Vivek Rawat</h4>
                <span class="text-muted">This is by Vivek Rawat</span>
          </div>

        </div>
      </div>
    </div>

    <div class="col-12 mt-1" *ngIf="!open">
      <div class="card make-round rounded-lg m-lg-3 my-lg-2 p-lg-2 shadow">
        <div class="d-flex flex-column ">
          <h3 class="my-2 text-center">View Toggle</h3>
          <div class="row d-flex justify-content-center align-items-center mb-2 mb-lg-0 " style="height:40px" >
            <div class="col-lg-3 col-3 rounded-start d-flex justify-content-center align-items-center" [ngStyle]="{'backgroundColor':tiles?'#93E7C4':'#D0D8E1'}"  style="height:40px" type=button (click)="viewSet(true)">
              <i class="fa fa-list fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-lg-3 col-3 rounded-end  d-flex justify-content-center align-items-center " [ngStyle]="{'backgroundColor':tiles?'#D0D8E1':'#93E7C4'}" style="height:40px"  type=button (click)="viewSet(false)">
              <i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-1">
      <div class="card make-round rounded-lg m-lg-3 p-lg-2 shadow" (click)="show_overlay()">
        <div class="d-flex flex-column ">
          <h3 class="my-2 text-center" role="button" >Have a FeedBack?</h3>
          <div class=" rounded mx-4 mb-2 mb-lg-0" style="min-height:50px; background-color:#93E7C4;">
            <h6 class="text-center mt-2 lead"><b>We're Listening!</b></h6>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>
